<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<!--<suite name="Cucumber Parallel Suite" verbose="1" parallel="classes" thread-count="5">-->
<!--    <test name="Product API">-->
<!--        <classes>-->
<!--            <class name="code.vanilson.startup.runner.TestRunner"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->